@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">ASP.NET MVC selekcijski zadatak</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Više o ASP.NET &raquo;</a></p>
</div>


